.about-bg{
    background-color: #020b3e;
}

.about-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.decribetion{
    color: rgb(41, 191, 0);
    padding: 7px ;
    font-size: 1.8vw;
    margin: 5px;
}