body {
  margin: 0;
  font-family: 'M PLUS 1 Code', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020b3e;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
